<% include ../partials/header %>

<div class="row">
	<div class="col-lg"></div>
	<div class="col-md-6 pt-4 mx-auto pb-5">
	<div class="card">
		<div class="card-header bg-success text-light">
			<div class="form-group row">
				<h4 class="col-lg-4 card-title">National Account (A)</h4>
				<label class="col-lg-2 col-form-label" for="doc-no">Doc Number</label><div class="col-lg-2"><input type="text" name="docno" value="<%= docno %>" class="form-control" readonly></div>
				<label class="col-lg-1 pr-0 col-form-label" for="date">Date</label><div class="col-lg-3"><input type="text" name="date" value="<%= date %>" class="form-control" readonly></div>
			</div>
		</div>
		<form>
			<div class="card-body">
				<div class="form-row">
					
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header">Bill To Information</div>
							<div class="card-body">
							<div class="form-row">
								<label class="col-form-label col-md-3"  for="na-no">Account #:</label><div class="col-md-3"><input type="text" value="6383" class="form-control" readonly></div>
								<label class="col-form-label col-md-2" for="bt-ns">Bill to:</label><div class="col-md-4 pb-3"><input type="text" value="000203198" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-name">Name:</label><div class="col-md-9"><input type="text" value="ELEMENT FLEET CORPORATION" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-addr-1">Address 1:</label><div class="col-md-9"><input type="text" value="" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-addr-2">Address 2:</label><div class="col-md-5"><input type="text" value="" class="form-control" readonly></div>
								<label class="col-form-label col-md-1 pb-3" for="bt-zip">Zip</label><div class="col-md-3"><input type="text" value="" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-city">City:</label><div class="col-md-5"><input type="text" value="" class="form-control" readonly></div>
								<label class="col-form-label col-md-2 pb-3" for="bt-st">State:</label><div class="col-md-2"><input type="text" value="" class="form-control" readonly></div>
							</div>
							</div>
						</div>	
						
					</div>
					<div class="col-xl-6">
						<div class="card md-4">
							<div class="card-header">Ship To Information</div>
							<div class="card-body">
							<div class="form-row">
								<label class="col-form-label col-md-3"  for="st-ns">Nonsig</label><div class="col-md-3"><input type="text" placeholder="123456" class="form-control"></div>
								<label class="col-form-label col-md-2" for="st-ns">Or: </label><div class="col-md-4 pb-3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">New Entry</button></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-name">Name:</label><div class="col-md-9"><input type="text" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-addr-1">Address 1:</label><div class="col-md-9"><input type="text" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-addr-2">Address 2:</label><div class="col-md-5"><input type="text" class="form-control" readonly></div>
								<label class="col-form-label col-md-1 pb-3" for="bt-zip">Zip</label><div class="col-md-3"><input type="text" class="form-control" readonly></div>
								<label class="col-form-label col-md-3 pb-3" for="bt-city">City:</label><div class="col-md-5"><input type="text" class="form-control" readonly></div>
								<label class="col-form-label col-md-2 pb-3" for="bt-st">State:</label><div class="col-md-2"><input type="text" class="form-control" readonly></div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a class="btn btn-primary" href="napage">Back</a>		<a class="btn btn-secondary mx-3" href="#">Hold</a>		<a class="btn btn-primary" href="nareq">Next</a>
				</div>
			</div>
		</div>
		</div>
		<div class="col-lg"></div>
		</div>
	</form>
<% include ../partials/footer %>