<div class="row">
	<div class="col-md"></div>
	<div class="col-md-6 pt-4 mx-auto pb-5">
	<div class="card">
		<div class="card-header bg-info text-light">
			<div class="form-group row">
				<h4 class="col-xl-4 card-title">National Account (A)</h4>
				<label class="col-xl-2 col-form-label" for="doc-no">Doc Number</label><div class="col-xl-2"><input type="docnumber" name="docno" value="<%= docno %>" class="form-control" readonly></div>
				<label class="col-xl-1 pr-0 col-form-label" for="date">Date</label><div class="col-xl-3"><input type="text" name="date" value="<%= date %>" class="form-control" readonly></div>
			</div>
		</div>
		<form action="/finalize" method="POST">
		<div class="card-body">
			<h3 class="text-center mx-auto pb-4"Add Products</h3>
			<div class="form-row pb-3">
				<div class="col"></div>
				<div class="col-xl-8">
					<div class="form-row">
						<input type="text" placeholder="111222333" class="form-control col-md-4">
						<input type="text" placeholder="Quantity" class="form-control col-md-2"> 
						<input type="text" placeholder="Labor Cost" class="form-control col-md-2">
						<input type="text" placeholder="Parts Cost" class="form-control col-md-2">
						<button class="btn btn-outline-success col-md-1" type="button">+</button>
					</div>
				</div>
				<div class="col"></div>
			</div>
			<div class="text-center mx-auto">
				<a class="btn btn-primary" href="nareq.html">Back</a>		<a class="btn btn-secondary mx-3" href="#">Hold</a>		
				<button class="btn btn-warning mr-3" type="button">Add Product</button>	<button class="btn btn-warning mr-3" type="button">Verify Products</button><input type="submit" class="btn btn-success" value="Send and Queue">
			</div>
		</div>
	</div>
	</div>
	<div class="col-md pr-0"></div>
		</form>
	</div>