/*
 * .file-explorer-container will hold all of the folders and whatnot
 */

.file-explorer-container {
  display: block;
  min-width: 100px;
  box-sizing: border-box;
  border: solid #0f0f0f 2px;
  background: #161616;
  color: #eeeeee;
  font-size: .8em;
  height: 100%;
}

.file-explorer-operations {
  height: 25px;
  padding: 4px 5px;
  background: #161616;
}

.file-explorer-operations button {
  opacity: 0;
}


.file-explorer-collapsible:before {
  content: ' ';
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  display: inline-block;
}

.file-explorer-folder:not(.collapsed)>div:before {
  content: ' ';
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23E8E8E8' d='M11 10H5.344L11 4.414V10z'/%3E%3C/svg%3E");
}

.file-explorer-folder.collapsed>div:before {
  content: ' ';
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23E8E8E8' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E")
}

.file-explorer-row {
  user-select: none;
}

.file-explorer-row:hover {
  background: #343a40;
  cursor: pointer;
}

.file-explorer-row-contents {
  display: inline-block;
}

.file-explorer-name {
  white-space: pre;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.file-explorer-label {
  margin-left: 3px;
}

/*
 * Action toolbar styles
 */

.file-explorer-action-toolbar {
  background: #1e1e1e;
  width: 100%;
  display: inline-block;
}

.file-explorer-actions-list {
  list-style: none;
  display: block;
  margin: 0 0 0 auto;
  float: right;
}

.toolbar-action-item {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.explorer-action-button {
  width: 28px;
  height: 22px;
  background-size: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 0;
  display: inline-block;
}

/*
 * Icons below here
 */

.file-explorer-icon::before {
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  display: inline-block;
  content: ' ';
}

.file-explorer-icon-folder::before {
  background-image: url("/public/c/customComponentDesigner/assets/images/folder.png")
}

.file-explorer-icon-folder-collapsed::before {
  background-image: url("/public/c/customComponentDesigner/assets/images/folder-outline.png")
}

.file-explorer-icon-file::before {
  background-image: url("/public/c/customComponentDesigner/assets/images/file.png")
}

.toolbar-icon-new-file {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23C5C5C5' d='M12 3H8v1h3v3h3v7H6V8H5v7h10V6z'/%3E%3Cpath fill='%2389D185' d='M7 3.018H5V1H3.019v2.018H1V5h2.019v2H5V5h2V3.018z'/%3E%3C/svg%3E") 50% no-repeat;
}

.toolbar-icon-new-folder {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23C5C5C5' d='M14 4H9.618l-1 2H6v2H3v6h12V4h-1zm0 2h-3.882l.5-1H14v1z'/%3E%3Cpath fill='%2389D185' d='M7 3.018H5V1H3.019v2.018H1V5h2.019v2H5V5h2z'/%3E%3C/svg%3E") 50% no-repeat;
}

.toolbar-icon-refresh {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w6.org/2000/svg' width='16' height='16'%3E%3Cpath d='M13.451 5.609l-.579-.939-1.068.812-.076.094c-.335.415-.927 1.341-1.124 2.876l-.021.165.033.163.071.345c0 1.654-1.346 3-3 3a2.98 2.98 0 0 1-2.107-.868 2.98 2.98 0 0 1-.873-2.111 3.004 3.004 0 0 1 2.351-2.929v2.926s2.528-2.087 2.984-2.461h.012L13.115 4.1 8.196 0H7.059v2.404A6.759 6.759 0 0 0 .938 9.125c0 1.809.707 3.508 1.986 4.782a6.707 6.707 0 0 0 4.784 1.988 6.758 6.758 0 0 0 6.75-6.75 6.741 6.741 0 0 0-1.007-3.536z' fill='%232D2D30'/%3E%3Cpath d='M12.6 6.134l-.094.071c-.269.333-.746 1.096-.91 2.375.057.277.092.495.092.545 0 2.206-1.794 4-4 4a3.986 3.986 0 0 1-2.817-1.164 3.987 3.987 0 0 1-1.163-2.815c0-2.206 1.794-4 4-4l.351.025v1.85S9.685 5.679 9.69 5.682l1.869-1.577-3.5-2.917v2.218l-.371-.03a5.75 5.75 0 0 0-4.055 9.826 5.75 5.75 0 0 0 9.826-4.056 5.725 5.725 0 0 0-.859-3.012z' fill='%23C5C5C5'/%3E%3C/svg%3E") 50% no-repeat;
}