</body>
<footer>
    <div class="row footer pt-4 bg-dark">
		<div class="col-3"></div>
		<div class="col text-center">
			<a class="text-light" href="#">FAQ</a>
			<a class="pl-4 text-light" href="#">Help & Training</a>
			<a class="pl-4 text-light" href="#">Contact & Vendors</a>
			<a class="pl-4 text-light" href="#">Featured Partners</a>
			<a class="pl-4 text-light" href="#">Integration Resource Center</a>
			<a class="pl-4 text-light" href="#">CAM Resources</a>
			<a class="pl-4 text-light" href="#">Utility Menu</a>
			<a class="pl-4 text-light" href="#">PFB Catalog Maint.</a>
		</div>
		<div class="col-3"></div>
	</div>
	
	<div class="row footer pt-5 bg-dark">
		<div class="col"></div>
		<div class="col text-center pb-3">
			<strong>
				<a class="text-light" href="#">Privacy Policy</a>
				<div class="pl-4 pr-4 d-inline">|</div>
				<a class="text-light" href="#">Copyright</a>
				<div class="pl-4 pr-4 d-inline">|</div>
				<a class="text-light" href="#">Terms & Conditions</a>
			</strong>
		</div>
		<div class="col"></div>
	</div>
	
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>