<% include partials/header %>

<div class="fof-cont">
    <center>
        <div class="fof-title">
            <h1 class="error-code">404</h1>
        </div>
        <div class="fof-desc">
            The page you were looking for could not be found. <a href="/" class="404-home">Click here to go home</a>
        </div>
    </center>
</div>
<% include partials/footer %>