<% include partials/header %>

    <div class="row my-4">
        <div class="col"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title bg-warning">
                   <div class="card-header">
                       Add A National Account
                   </div>
                </div>
                <div class="card-body">
                    <form method="POST" action="/verify">
                        <div class="form-row">
                            <label class="col-form-label col-md-2 my-2">Name</label><div class="col-md-4 my-2"><input class="form-control" name="naname" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">NA Number</label><div class="col-md-4 my-2"><input class="form-control" name="nano" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">Nonsig</label><div class="col-md-4 my-2"><input class="form-control" name="nans" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">Address 1</label><div class="col-md-4 my-2"><input class="form-control" name="addr1" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">Address 2</label><div class="col-md-4 my-2"><input class="form-control" name="addr2" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">Zip</label><div class="col-md-4 my-2"><input class="form-control" name="zip" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">City</label><div class="col-md-4 my-2"><input class="form-control" name="city" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">State</label><div class="col-md-4 my-2"><input class="form-control" name="state" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">Requirement 1</label><div class="col-md-4 my-2"><input class="form-control" name="req1" type="text"></div>
                            <label class="col-form-label col-md-2 my-2">Requirement Placeholder</label><div class="col-md-4 my-2"><input class="form-control" name="req1p" type="text" placeholder="Placeholder"></div>
                            <label class="col-form-label col-md-2 my-2">Authorized Merchandise</label><div class="col-md-4 my-2"><input class="form-control" name="authmerch" type="text"></div>
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>


<%include partials/footer %>